<main *ngIf="!enviado" class="d-flex flex-column align-items-center my-5">
  <h2>Olá, {{ pessoa.usuario?.nome }}</h2>
  <h5>Para facilitar nosso contato é necessário validar seu e-mail</h5>
  <p>Insira seu e-mail no campo abaixo e clique em "Enviar Código"</p>

  <form #formulario="ngForm" class="mb-3 col-md-3">
    <label for="campo_email" class="form-label"><strong>E-mail:</strong></label>
    <input
      #campoEmail
      id="campo_email"
      type="email"
      name="email"
      [(ngModel)]="emailFornecido"
      class="form-control is-invalid"
      [class.is-invalid]="!formulario.valid && formulario.touched"
      placeholder="usuario@email.com"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required
    />
    <div class="invalid-feedback">E-mail é invalido</div>
  </form>
  <button
    [disabled]="!formulario.valid"
    (click)="enviarCodigo()"
    class="btn btn-primary my-2"
  >
    Enviar Código
  </button>
</main>

<h1 *ngIf="enviado" class="d-flex flex-column align-items-center my-5">
  <div class="bar my-3"></div>
  Enviando...
</h1>
